{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link href='{% static "mainsite/css/main-style.css" %}' rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}TeamSeeker{% endblock %}</title>
</head>

<body class="grey" style='{% block bodystyle %}{% endblock %}'>
    <header>
        <div class="header-box">
            <div class="main-navigation">
                <div class="logo">
                    <span>TeamSeeker</span>
                </div>
                <nav>
                    <ul class="m-0">
                        <li><a href="#">Проекты</a></li>
                        <li><a href="#">Хакатон</a></li>
                        <li><a href="#">Поиск</a></li>
                        <li><a href="#">Помощь</a></li>
                        <li><a href="#">Feedback</a></li>
                    </ul>
                </nav>
            </div>
            <div class="personal-account">
                <a href="#" class="open-personal-menu"><img src="{{me.get_avatar_url}}"" alt="Личный кабинет"></a>
                <a href="#" class="open-personal-menu">{{me.get_short_name}}</a>
            </div>
            <div class="personal-menu-my" style="display: none">
                <div class="exit"><a href="#">Выйти</a></div>
                <div class="messages"><a href="#">Сообщения: <span class="new-messages">2</span></a></div>
                <div class="invitations"><a href="#">Приглашения: <span class="new-invitations">2</span></a></div>
            </div>
        </div>
    </header>
    <div class="content-wrapper">
        <div class="left-column">
            {% block left_column %}
            {% endblock %}
        </div>
        <div class="main-column">
            {% block content %}
            {% endblock %}
        </div>
    </div>


    <!-- <footer class="footer">
        TeamSeeker 2019
    </footer> -->
    <script src="{% static "mainsite/js/main-script.js" %}"></script>
</body>
</html>