{% extends "base-form.html" %}
{% load static %}

{% block title %}Регистрация - TeamSeeker{% endblock %}

{% block bodystyle %}
    background-image: url("{% static "mainsite/img/registration.jpg" %}");
{% endblock %}

{% block form %}
    <div class="registration-form">
        <h2 id="k">Регистрация</h2>
        <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Регистрация">
        </form>
    </div>
{% endblock %}