{% extends "base-page.html" %}
{% load static %}

{% block title %}{{ object.get_full_name }} - TeamSeeker{% endblock %}


{% block left_column %}
    <div class="userprofile column-block p-0"> 
        <div class="photo">
            <img class="portrait" src="{{object.get_avatar_url}}" alt="портрет"/>
            <h4 class="name">{{object.get_full_name}}</h4>
        </div>
    </div>
    <div class="personal-data column-block">
        Email: <a href="mailto:{{object.email}}">{{object.email}}</a>
    </div>
{% endblock %}


{% block content %}
    <div class="card-columns">
        {% for p in projects %}
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{p.project.name}}</h5>
              <p class="card-text">Роль: {{p.get_role_display}}</p>
              <p class="card-text">Статус: {{p.get_status_display}}</p>
              <p class="card-text">
                <small class="text-muted">
                    <a href="{{p.project.get_absolute_url}}">
                        Перейти
                    </a>
                </small>
              </p>
            </div>
        </div>            
        {% endfor %}
    </div>
{% endblock %}
